*{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:8px;
}
body {
    background-color: black;
}

.logo {
    width: 120px;
    height: 120px;
    display: inline;
    margin-right: 300px;
}

.header {
    display: inline;
    vertical-align: 22px;
}

.na {
    color: white;
    text-decoration: none;
    margin-left: 35px;
    vertical-align: 22px;
    

}

nav {
    display: inline;
   margin-right: 200px;
   vertical-align: 22px;
}

.apps {
    display: inline;
    margin-left: 40px;
    vertical-align: 22px;   

}
.hero {
    display: block;

}

.hero-txt{
    color: white;
    
}
 .hero_text{
    display: inline-block;
    max-width: 30%;
    vertical-align: 100px;
 }
.button{
    background-color: yellow;
    width: 150px;
    height: 30px;
}
.info{
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 70%;
}
.info h2{
    color: white
}

.product h2 {
    color: white;
}
.product h3 {
    color: white;
}
.product img {
    margin: 5px;
    width: 96%;
}
.product p {
    color: white;
}
.product button{
    background-color: black;
    color: white;
    width: 95%;

}
.product article{
    max-width: 300px;
    background-color: rgb(204, 204, 21);
    padding-bottom: 10px;
    margin-left: 40px;
    display: inline-block;
}
