*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
}

.logo {
    width: 120px;
    height: 120px;
    display: inline;
    margin-right: 300px;
}

.header {
    display: inline;
    vertical-align: 22px;
}

.na {
    color: white;
    text-decoration: none;
    margin-left: 35px;
    vertical-align: 22px;
    

}

nav {
    display: inline;
   margin-right: 200px;
   vertical-align: 22px;
}

.apps {
    display: inline;
    margin-left: 40px;
    vertical-align: 22px;   

}
